body
{
    background-color: aquamarine;
}
#kerem1
{
font-style: italic;
font-weight: bold;
}
.content
{
    padding-left: 15cm;

}
.content2
{
    padding-left: 15cm;
}
#kerem2
{
    padding-left: 35cm;
} 
